<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Todo List App</title>

    {% load static %}
    <link type="text/css" rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
    <link type="text/css" rel="stylesheet"
        href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css'>
    <link rel="stylesheet" href="{% static 'tasks/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
</head>

<body>
     <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <!-- Header-->
            <div class="navbar-header">
                <a href="#" class="navbar-brand">MY TODO TASKS</a>
            </div> 
        </div>
    </nav>

    {% block body %}
    {% endblock body %}

</body>

</html>