{% extends 'tasks/base.html' %}

{% block body %}

<div class="container-fluid" style="margin:20px;">
    <div class="row">
        <div class="col-sm">
            <h3>Bulk Update</h3>
            <form action="{% url 'tasks:bulk-update' %}" method="POST" style="display: inline-block;">
                {% csrf_token %}
                <ul>
                    {% for task in all_tasks  %}
                    <li>
                        <div class="row">
                            <div class="col-md-8">
                                <input type="hidden" name="task_id" value="{{task.id}}">
                                <input class="li-input" type="text" name="task_detail" value="{{task.detail}}">
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                <input class="btn btn-info" type="submit" value="Bulk Update">
            </form>
        </div>
        <div class="col-sm">
            <h3>Bulk Create</h3>
            <p>Enter line seperated tasks to bulk create</p>
            <form action="{% url 'tasks:bulk-add'%}" method="post">
                {% csrf_token %}
                <textarea name="task_detail" rows="7" cols="80"></textarea>
                <br> <br>
                <input type="submit" class="btn btn-info" value="Bulk Create">
            </form>
        </div>
    </div>
</div>


{% endblock body %}
