<!-- Find this UI template at https://bbbootstrap.com/snippets/awesome-todo-list-template-25095891 -->
{% extends 'tasks/base.html' %}


{% block body %}
<div class="container ">


    <form action="{% url 'tasks:add'%}" method="POST">
        {% csrf_token %}
        <div class="input-group">
            <input type="text" class="add-item" name="newtask" placeholder="What do you need to do today?">
            <input type="submit" value="Add Task" class="btn btn-default btn-add">
        </div>
    </form>


    <ul>
        {% for task in all_tasks  %}
        <li>
            <div class="row">
                <div class="col-md-8">
                    {% if edit_task == task.id %}
                    <form action="{% url 'tasks:update-task' task.id %}" method="POST" style="display: inline-block;">
                        {% csrf_token %}
                        <input class="li-input" type="text" name="updated_task" value="{{task.detail}}">
                        <input type="submit" value="Update" class="btn btn-info btn-update">
                    </form>
                    {% else %}
                    {% if task.is_complete %}
                    <a class="btn btn-success" href="{% url 'tasks:toggle-task-complete' task.id %}"
                        data-toggle="tooltip" data-placement="top" title="Toggle Task Status">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </a>
                    {% else %}
                    <a class="btn btn-default" href="{% url 'tasks:toggle-task-complete' task.id %}"
                        data-toggle="tooltip" data-placement="top" title="Toggle Task Status">
                        <i class="fa fa-square-o" aria-hidden="true"></i>
                    </a>
                    {% endif %}
                    <a href="{% url 'tasks:update-task' task.id %}" class="btn btn-outline-info" data-toggle="tooltip"
                        data-placement="top" title="Edit Task">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                    <span class="task-text {% if task.is_complete %} completed{% endif %}">{{task.detail}} </span>
                    {% endif %}

                </div>
                <div class="col-md-4">

                    <a class="btn btn-danger round" href="{% url 'tasks:delete-task' task.id %}">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </a>
                </div>
            </div>

        </li>

        {% endfor %}
    </ul>

</div>
{% endblock body %}